<mat-tab-group (selectedTabChange)="restLabel()">
  <mat-tab label="Magical Input">
      <mat-form-field floatLabel="always" appearance="fill">
        <mat-label>{{title}}</mat-label>
        <input matInput (keypress)="onKeyPressed($event)" [formControl]="textValidate">
        <mat-error *ngIf="textValidate.invalid"> INVALID INPUT</mat-error>
      </mat-form-field>
  </mat-tab>
  <mat-tab label="ToDo">
    <mat-list>
      <mat-list-item *ngFor="let todo of todos">
        <mat-checkbox (change)="onChange(todo.id)">{{todo.title}}</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>

